.nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #3f51b5;
    color: #fff;
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 56px;

    justify-content: space-between
}

.logo {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.nav-item {
    margin-right: 10px;
}
