.nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: grey;
    color: #fff;
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 56px;
    z-index: 9999;
    justify-content: space-between
}

.nav-item {
    margin-right: 10px;
    color: white !important;
}
